beautifulsoup4==4.11.1
datasets==1.5.0
fairseq==0.12.2
langdetect==1.0.9
marisa_trie==0.7.8
networkx==2.5
numpy==1.22.0
omegaconf==2.2.3
pandas==1.5.0
python-dotenv==0.21.0
pytorch_lightning==1.5.10
qwikidata==0.4.0
rich==12.6.0
stanza==1.2
titlecase==2.3
torch==1.11.0
tqdm==4.62.2
transformers==4.30.0
validators==0.18.2
